<div class="members">
  <h1>Members Only!</h1>
  <button class="enter-btn"> <%= link_to 'Enter', posts_path, class: 'enter-link' %> </button>
</div>
<div class="foot">
  <h4>Created by Stuart Wilson as part of The Odin Project curriculum.</h5>
  <h5>Register and log in for full functionality.</h6>
</div>